/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom styles */

header {
    display: flex;
	background-color: white;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	height: 80px;
}

header div {
	padding: 10px;
	margin-left: 20px;
	font-weight: bold;
	font-size: larger;
	justify-content: left;
	color: green;
}	

#logo1 {
	color: green;
	text-align: left;
	margin-left: 0px;

}

#logo2 {
	color: rgb(215, 166, 174);
	text-align: left;
	margin-right: 0px;
	margin-left: -80px;
}
header ul {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

header a {
	text-decoration: none;
	color: green;
	font-size: 17px;
}

#select {
	background-color: rgb(215, 166, 174);
	padding: 10px;
	border-radius: 10px;
	color: rgb(242, 233, 233);
	border: none;
}


ul select {
	background-color: white;
	padding: 5px;
	border: none;
	color: green;
	font-size: 14px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	
}
main {
	background-color: black;
	margin-bottom: 0px;

}
main img {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	filter: brightness(70%);
	
}

#principal {
	position: relative;
}

#parrafoprincipal {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 75%;
	left: 1.5%;
	color: white;
	gap: 10px;		
}
#boton1 { 	
	background-color:  rgb(215, 166, 174);
	color: white;
	border: none;
	padding: 10px;
	width: 150px;
	height: 40px;
	border-radius: 3px;
	font-size: 12px;
	margin-left: 30px;
	margin-bottom: -8px;
}

#boton2 {
	background-color:  rgb(215, 166, 174);
	color: white;
	border: none;
	padding: 10px;
	width: 200px;
	height: 50px;
	border-radius: 25px;
	font-size: 16px;
}
#parrafoprincipal h2 {
	font-size: 25px;
	margin-bottom: 15px;
	margin-left: 30px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#parrafoprincipal h4 {
	font-size: 13px;
	margin-bottom: 15px;
	margin-left: 30px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}